#summaryText {
	display: none;
}

.outlined {
	stroke-width: 2px;
	stroke: "black";
}

#viz {
	float:left;
}

h3 {
	padding: 0px 0px 0px 0px;
}

#detail {
	float: left;
	margin-top: 100px;
	width: 650px;
	display: block;
	position: relative;
}

#detail #gentrification {
	display: none;
}

#detail #topLeft {
	background-color: #F8B619;
	/*position: fixed;*/
	position: absolute;
	width: 220px;
	height: 120px;
	padding: 10px;
}

#detail #topLeft #status #why {
	font-weight: bold;
	font-size: 18px;
	color: #1E0944;
}

#detail #map {
	/*position: fixed;*/
	position: relative;
	float: left;
}


#detail #bottomRight {
	background-color: #600F97;
	color: white;
	/*position: fixed;*/
	position: absolute;
	width: 350px;
	right: 0px;
	top: 320px;
	/*height: 142px;*/
	/*padding: 10px;*/
	/*left: 1000px;*/
	/*top: 475px;*/
	font-size: 12px;
}


.detailAnnotations {
	opacity: 0;
}

#sections {
	width: 500px;
	margin-bottom: 500px;
	margin-left: 20px;
}

.step {
	height: 500px;
	vertical-align: middle;
}

.stepFirst {
	margin-top: 200px;
}

.stepLast {
	/*margin-bottom: 100px;*/
}


#scrollChart {
	position: fixed;
	left: 600px;
	top: 100px;
}

path.domain, g.tick line {
	opacity: 0;
}

/*h3 {
	padding-left: 50px;
}*/

#overlay {
	height: 800px;
	width: 1100px;
	margin-left: 50px;
	background-color: white;
	display: none;
}

#overlay .example {
	width: 340px;
	height: 675px;
	float: left;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
}

#overlay .example svg {
	height: 325px;
}

#overlay span.colored {
	font-weight: bold;
}

#overlay span.income {
	color: green;
}

#overlay span.home {
	color: magenta;
}

#overlay span.college {
	color: orange;
}

/*tr {
	padding-top: 10px;
	padding-bottom: 10px;
}*/

th, td {
	padding: 4px 8px 4px 8px;
}

th.colorOffset, td.colorOffset {
	background-color: #1E0944;
}

/* HEADER NAVIGATION */
#header {
	padding: 0; margin: 0;
	background-color: #1E0944;
	color: white;
	top: 0;
	height: 50px;
	vertical-align: middle;
}

#header h3 {
	padding: 10px 20px 14px 10px;
	margin: 0;
	vertical-align: middle;
	float: left;
}

#header #links {
	float: left;
}

#header a {
	display: block;
	float: left;
	background-color: #EAE6F2;
	color: black;
	height: 100%;
	padding: 15px;
}

#header a.active {
	background-color: #600F97;
	color: white;
}