#summaryText {
	display: none;
}

.outlined {
	stroke-width: 2px;
	stroke: "black";
}

#viz {
	float:left;
}

#detail {
	float: left;
	margin-top: 100px;
	display: block;
}

#detail #gentrification {
	display: none;
}

#detail #topLeft {
	background-color: #F8B619;
	position: fixed;
	width: 220px;
	height: 120px;
	padding: 10px;
}

#detail #map {
	position: fixed;
}


#detail #bottomRight {
	background-color: #600F97;
	color: white;
	position: fixed;
	width: 350px;
	/*height: 142px;*/
	/*padding: 10px;*/
	left: 1000px;
	top: 475px;
	font-size: 12px;
}


.detailAnnotations {
	opacity: 0;
}

#sections {
	width: 500px;
	margin-bottom: 500px;
	margin-left: 20px;
}

.step {
	margin-top: 200px;
}


#lineviz {
	position: fixed;
	left: 600px;
	top: 0px;
}

path.domain, g.tick line {
	opacity: 0;
}

h3 {
	padding-left: 50px;
}

#overlay {
	height: 800px;
	width: 1100px;
	margin-left: 50px;
	background-color: white;
	display: none;
}

#overlay .example {
	width: 340px;
	height: 675px;
	float: left;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
}

#overlay .example svg {
	height: 325px;
}

#overlay span.colored {
	font-weight: bold;
}

#overlay span.income {
	color: green;
}

#overlay span.home {
	color: magenta;
}

#overlay span.college {
	color: orange;
}

/*tr {
	padding-top: 10px;
	padding-bottom: 10px;
}*/

th, td {
	padding: 4px 8px 4px 8px;
}

th.colorOffset, td.colorOffset {
	background-color: #1E0944;
}